@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --blueTranslucentAlt: #00a3e388;
  --blueTranslucent: #005a7d88;
  --blue: #005a7d;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0%;
  background: url("background_img.jpg") rgba(0, 0, 0, 0.75);
  font-size: 2em;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: "Poppins";
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-blend-mode: multiply;
  transition: all 0.6s;
}

h1 {
  font-size: 1.7em;
  text-shadow: 0 0 100px rgba(255, 255, 255, 1);
}

p {
  font-size: 0.75em;
  margin: 2%;
}

#book_cover {
  position: relative;
  height: 110%;
  top: -5%;
  box-shadow: 0 0 50px black;
  border: 5px solid white;
  left: 0%;
  border-radius: 20px;
  transition: all 0.6s;
}

#book_cover:hover {
  height: 120%;
  top: -10%;
  transition: all 0.6s;
}

#coverBtn { display: none; }

#coverBtn:checked + label > #book_cover {
  height: 120%;
  top: -10%;
  transition: all 0.6s;
}

#flexDiv {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: -2% auto 0 auto;
}

#introTxt {
  align-self: center;
  margin: -5px;
  width: 0%;
  opacity: 0%;
  height: 120%;
  border: 5px solid white;
  background-color: var(--blueTranslucent);
  scrollbar-width: none; /* Invis scrollbar for Firefox */
  overflow-y: scroll; /* Allow scrolling in y-axis (vertical) */
  border-radius: 20px;
  transition: opacity 0.3s, width 0.6s, margin 0.6s;
}

#introTxt h1, #introTxt p {
  top: -50%;
  transform: translateY(50%);
}

#introTxt::-webkit-scrollbar { display: none; } /* Invis scrollbar for Chrome, Safari & Opera */

#coverBtn:checked ~ #introTxt {
  width: 60%;
  height: 120%;
  margin: 10px 0% 0% 5%;
  opacity: 100%;
  transition: opacity 1.2s, width 0.6s, margin 0.6s;
}

#plot, #characters, #settings, #likesDislikes, #img1 img, #img2 img, #img3 img, #img4 img, #trailer, #introTxtAlt {
  border: 5px solid white;
  border-radius: 20px;
  padding: 3% 0%;
  margin: 5%;
}

#plot, #characters, #settings, #likesDislikes, #trailer, #introTxtAlt {
  background-color: var(--blueTranslucent);
  transition: background-color 0.2s;
}

#plot:hover, #characters:hover, #settings:hover, #likesDislikes:hover, #trailer:hover, #introTxtAlt:hover {
  background-color: var(--blueTranslucentAlt);
  transition: background-color 0.2s;
}

#plot, #settings, #img2, #img4 { float: left; }
#characters, #likesDislikes { float: right; }

#img1, #img2, #img3, #img4 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#img1 img, #img2 img, #img3 img, #img4 img {
  padding: 0%;
  margin: 5%;
  width: 80%;
  align-self: center;
}

#container {
  width: 100%;
  opacity: 0%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "plot img1"
    "img2 characters"
    "settings img3"
    "img4 likesDislikes"; 
}

#plot { grid-area: plot; }
#characters { grid-area: characters; }
#settings { grid-area: settings; }
#likesDislikes { grid-area: likesDislikes; }
#img1 { grid-area: img1; }
#img2 { grid-area: img2; }
#img3 { grid-area: img3; }
#img4 { grid-area: img4; }

iframe {
  width: 60%;
  aspect-ratio: 16 / 9;
}

a {
  text-decoration: none;
  color: white;
  transition: text-shadow 0.1s;
}

#footer {
  background-color: #14171cee;
  border-top: 10px solid white;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  padding: 5%;
  grid-template-areas: 
    "credits github cat";
}

#credits { grid-area: credits; }
#github { grid-area: github; }
#cat {
  grid-area: cat;
}

/* Cat image animation */
@keyframes crossFadeCats {
  0% { content: url("cat1.jpg"); }
  20% { content: url("cat2.jpg"); }
  40% { content: url("cat3.jpg"); }
  60% { content: url("cat4.jpg"); }
  80% { content: url("cat5.jpg"); }
  100% { content: url("cat1.jpg"); }
}

#catImg {
  animation: crossFadeCats 5s infinite;
  width: 70%;
  aspect-ratio: 1 / 1;
}

#footer a { color: #6f92b0; }

@media (max-width: 1200px) {
  body { font-size: 1.6em; }
  #bottomTitle { margin-bottom: 0%; }
}

@media (max-width: 1000px) {
  body { padding-top: 2%; }

  #flexDiv {
    width: 70%;
    height: 40%;
    margin-top: 5%;
  }
}

@media (max-width: 900px) {
  body { font-size: 1.2em; }
}

#introTxtAlt { display: none; }

@media (max-width: 800px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr 0.1fr; 
    grid-template-areas: 
      "introTxtAlt"
      "plot"
      "img1"
      "characters"
      "img2"
      "settings"
      "img3"
      "likesDislikes"
      "img4"
  }

  #footer { display: block; }
  #credits, #github, #cat { padding: 10% 0%; }

  .title { display: none; }

  #flexDiv {
    margin-top: 30%;
    height: 50%;
  }

  #introTxt { display: none; }
  #introTxtAlt { display: block; }

  #trailer {
    background: url("https://www.intofilm.org/intofilm-production/7779/scaledcropped/3000x1688/resources/7779/the-boy-in-the-striped-pyjamas-image-4-heyday-films.jpg");
    background-size: cover;
    height: 20%;
  }

  iframe { display: none }
}

@media (max-width: 500px) {
  #flexDiv { height: 40%; }
}

@media (max-width: 400px) {
  #flexDiv { height: 50%; }
}
