@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --blueTranslucent: #005a7d88;
  --blue: #005a7d;
}

html { height: 100%; width: 100%; }

body {
  margin: 0;
  background: url("background_img.jpg") rgba(0, 0, 0, 0.75);
  font-size: 2em;
  background-size: 100% 100%;
  font-family: 'Poppins';
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-blend-mode: multiply;
}

h1 {
  font-size: 1.8em;
  text-shadow: 0 0 100px rgba(255, 255, 255, 1);
}

p {
  font-size: 0.75em;
  margin: 2%;
}

#book_cover {
  position: relative;
  height: 110%;
  top: -5%;
  transition: height 0.5s, top 0.5s;
  box-shadow: 0 0 50px black;
  border: 5px solid white;
  left: 0%;
  transition: all 0.6s;
}

#book_cover:hover {
  height: 130%;
  top: -15%;
  transition: all 0.6s;
}

#coverBtn { display: none; }

#coverBtn:checked + label > #book_cover {
  height: 130%;
  top: -15%;
  transition: all 0.6s;
}

#flexDiv {
  display: flex;
  justify-content: center;
  height: 50%;
}

#introTxt {
  align-self: center;
  margin: 0 0 0 0;
  width: 0%;
  opacity: 0%;
  height: 130%;
  border: 5px solid white;
  background-color: var(--blueTranslucent); 
  -ms-overflow-style: none; /* Invis scrollbar for IE & Edge */
  scrollbar-width: none; /* Invis scrollbar for Firefox */
  overflow-y: scroll; /* Allow scrolling in y-axis (vertical) */
  transition: opacity 0.3s, width 0.6s, margin 0.6s;
}

#introTxt::-webkit-scrollbar { display: none; } /* Invis scrollbar for Chrome, Safari & Opera */

#coverBtn:checked ~ #introTxt {
  width: 60%;
  height: 130%;
  margin: 10px 0 0 5%;
  opacity: 100%;
  transition: opacity 1.2s, width 0.6s, margin 0.6s;
}
